.intro {
    background-color: white;
    display: flex;

    .left{
        flex: 0.5;
        overflow: hidden;
        
        .imgContainer{
            width: 400px;
            height: 500px;
            background-color: blue;
            display: flex;
            align-items: center;
    
            .img{ 
                width: 50;
                
            }
        }
    }

    .right{
        flex: 0.5;
    }
}